<?py if len(param.value) == 1: ?>
<?py value = param.value[0] ?>
<?py masks = masks_presenter(value.coords, param.presentation['space']) ?>
{== '<span class="masked">' if masks else '' ==}
${ param.presentation['formatter'](value.value)}
{== f'<aside> [{to_escaped(masks)}]</aside></span>' if masks else '' ==}
<?py else: ?>
<ul>
<?py for value in param.value: ?>
<?py masks = masks_presenter(value.coords, param.presentation['space']) ?>
<li>${ param.presentation['formatter'](value.value)}{== f'<aside> [{to_escaped(masks)}]</aside>' if masks else '' ==}</li>
<?py #endfor ?>
</ul>
<?py #endif ?>
