<div class="card">
  <div class="card-body">
    <h5 class="card-title">${entry['title']}</h2>
    <?py tag = 'ul' if entry.get('bullets') else 'ol' ?>
    <{== tag ==} class="card-text">
    <?py echo('                        ') ?>
    <?py for i in entry['packages']: ?>
    <li>
      <a href="${root_url}/package/${i}">${i}</a>
    </li>
    <?py #endfor ?>
    </{== tag ==}>
    <?py if 'more' in entry: ?>
    <a class="btn btn-primary" href="${root_url}/${entry['address']}">${entry['more']}</a>
    <?py #endif ?>
  </div>
</div>
