html {
    --void-green: #478061;
    --void-green-link: #478061;
    --void-green-light: #478061;
    --text: #333;
    --background: white;
    --border: #ddd;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.btn-primary {
    background-color: var(--void-green);
    border-color: var(--void-green);
}

a {
    color: var(--void-green-light);
}

.bg-void {
    background-color: var(--void-green);
}

.card {
    background-color: inherit;
    border: 1px solid var(--border);
}

.card-body {
    padding: 2rem 3rem;
}

.nav-link {
    color: white;
}

.nav-link:focus, .nav-link:hover {
    color: white;
    text-decoration: inherit;
}

a:hover {
    color: var(--text);
    text-decoration: underline;
}

.btn-primary:hover {
    background-color: var(--background);
    border-color: var(--text);
}

.form-control, .form-control:focus {
    background-color: inherit;
    color: var(--text);
}

@media (prefers-color-scheme: dark) {
    html {
        --void-green: #295340;
        --void-green-link: #62b086;
        --void-green-light: #478061;
        --text: #ccc;
        --background: #222;
        --border: #666;
    }
}
