<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>${_context.get('title', 'Packages')} from Void</title>
        <link rel="icon" type="image/png" href="${{assets_url}}/img/favicon.png"/>
        <link rel="stylesheet" href="${{assets_url}}/css/styles.css"/>
        <link rel="stylesheet" href="${{assets_url}}/packages.css"/>
        <link rel="search" href="${{root_url}}/opensearch.xml" type="application/opensearchdescription+xml" title="Void packages"/>
    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="container">
                    <div class="menu-spacer"></div>
                    <input type="checkbox" id="menu-toggle-cb"/>
                    <label id="menu-toggle" for="menu-toggle-cb" aria-label="Toggle Navigation">
                        <s class="bar"></s><s class="bar"></s><s class="bar"></s>
                    </label>
                    <div class="menu-wrapper">
                        <nav class="menu-local" role="navigation">
                            <div><a href="${{voidlinux_url}}/">Home</a></div>
                            <div><a href="${{voidlinux_url}}/news">News</a></div>
                            <div><a href="${{voidlinux_url}}/download/">Download</a></div>
                            <div><a href="${{root_url}}">Packages</a></div>
                            <div><a href="${{voidlinux_url}}/acknowledgments/">Acknowledgments</a></div>
                            <div><a href="https://docs.voidlinux.org">Documentation</a></div>
                            <div><a href="https://man.voidlinux.org/">Manual Pages</a></div>
                            <div><a href="https://github.com/void-linux">GitHub</a></div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="searchbar menu-external">
            <form action="${{root_url}}/search" method="GET" class="form-inline">
                <a href="${{root_url or '/'}}">Featured packages</a>
                <a href="${{root_url}}/all">All packages</a>
                <input name="term" type="text" class="form-control"/>
                <input type="submit" value="View" class="btn btn-green"/>
                <input type="submit" name="find" value="Find" class="btn btn-green"/>
            </form>
            </div>
        </header>
{== _content ==}
    </body>
</html>
