<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">





    <head>
        <meta charset="utf-8"/>
        <title>${_context.get('title', 'Packages')} from Void</title>
        <link href="${root_url}/static/style.css" rel="stylesheet" type="text/css"/>
        
    </head>


    <body>
        <header>
            <nav>
                <ul class="horizontal">
                    <li><a href="${root_url}">Homepage</a></li>
                    <li><a href="https://github.com/void-linux/void-packages">Templates repository</a></li>
                    <li><a href="https://voidlinux.org">Void Linux homepage</a></li>
                    <li><a href="${root_url}/all">All packages</a></li>
                </ul>
            </nav>
            <form action="${root_url}/search" class="searchbox" method="GET">
                <input name="term" type="text"/>
                <input type="submit" value="View"/>
                <input type="submit" name="find" value="Find"/>
            </form>
        </header>
{== _content ==}
    </body>
</html>
