<?py _context['title'] = 'Find packages' ?>
    <div class="content">
        <main>
            <h1>Find packages</h1>
            <form action="${{root_url}}/search" method="GET">
                <input type=text name=term value="${term}" class="form-control"/><br/>
                <?py for f in fields: ?>
                <?py escaped_field = _escape(f) ?>
                <label><input type="checkbox" name="by"{== ' checked="checked"' if f in checked else '' ==} value="{== escaped_field ==}"/> by {== escaped_field ==}</label><br/>
                <?py #endfor ?>
                <input type="submit" name="find" value="Find" class="btn btn-green"/>
            </form>
            <?py if error: ?>
            ${error}<br/>
            <?py #endif ?>
            <?py if packages: ?>
            <dl>
                <?py for i in packages: ?>
                <?py escaped_name = _escape(i['name']) ?>
<dt><a href="${{root_url}}/package/${urlquote(i['name'])}">${i['name']}</a></dt>
<dd>${i['description']}</dd>
            <?py #endfor ?>
            </dl>
            <?py else: ?>
            Nothing found
            <?py #endif ?>
        </main>
    </div>
