<?py _context['title'] = 'Find packages' ?>
    <div class="content">
        <main>
            <h1>Find packages</h1>
            <form action="${root_url}/search" method="GET">
                <input type=text name=term value="{== escape_attr(term) ==}" /><br/>
                <?py for f in fields: ?>
                <label><input type="checkbox" name="by"${iff(f in checked, ' checked="checked"')} value="${f}"/> by ${f}</label><br/>
                <?py #endfor ?>
                <input type="submit" name="find" value="Find"/>
            </form>
            <?py if error: ?>
            ${error}<br/>
            <?py #endif ?>
            <?py if packages: ?>
            <dl>
                <?py for i in packages: ?>
<dt><a href="${root_url}/package/${i['name']}">${i['name']}</a></dt>
<dd>${i['description']}</dd>
            <?py #endfor ?>
            </dl>
            <?py else: ?>
            Nothing found
            <?py #endif ?>
        </main>
    </div>
