<?py tag = 'ul' if _context.get('bullets') else 'ol' ?>
        <div class="content">
        <main>
            <h1>${title}</h1>
            <?py if 'subtitle' in _context: ?>
            <em>${subtitle}</em>
<?py #endif ?>            <{== tag ==}> 
			<?py echo('                ') ?>
<?py include('small/list_list.htm') ?>


            </{== tag ==}>
            <?py if _context.get('has_featured') or not _context.get('with_devel_and_so'): ?>
            <footer>
              
              <?py if _context.get('has_featured'): ?>
              <p>Items marked with * do not appear on main page.</p>
              <?py #endif ?>
              <?py if not _context.get('not with_devel_and_so'): ?>
              <p>List excludes devel, debug and multilib packages.</p>
              <?py #endif ?>
            </footer>
            <?py #endif ?>
        </main>
    </div><footer><p class="text-center">Server side code is AGPLv3 licensed. You can view <a href="https://github.com/Chocimier/pkgs.void">git repo</a> or get <a href="${{root_url}}${{generated_files_url}}/pkgs.void.tar.bz2">source tarball</a>.</p></footer>
