<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="base.html"/>
<head/>
<body>
    <div class="content">
        <main>
            <h1>Packages with longest names</h1>
            <ol>
                <li py:for="i in packages">
                    <a href="${root_url}/package/${i}">${i}</a>
                </li>
            </ol>
            <footer>List excludes devel, debug and multilib packages.</footer>
        </main>
    </div>
    <footer>Server side code is AGPL licensed. You can view <a href="https://github.com/Chocimier/pkgs.void">git repo</a> or get <a href="${root_url}/static/source/pkgs.void.tar.bz2">source tarball</a>.</footer>
</body>
</html>
