<?py _context['title'] = title ?>
        <div class="content">
        <main>
            <div class="d-flex flex-wrap justify-content-between">

                <?py for entry in lists: ?>
<?py include('small/main_list.html', entry=entry) ?>
                <?py #endfor ?>
            </div>
            <p class="text-center">Site was updated at ${updated}.</p>
        </main>
    </div><footer><p class="text-center">Server side code is AGPL licensed. You can view <a href="https://github.com/Chocimier/pkgs.void">git repo</a> or get <a href="${root_url}/static/source/pkgs.void.tar.bz2">source tarball</a>.</p></footer>
