<?py _context['title']=pkgname ?>
<?py urlquoted_pkgname=_escape(urlquote(pkgname)) ?>
        <div class="content">
        <main>
            <div class="column">
                 <h2>${pkgname}</h2>
				 <?py _context['param'] = short_desc ?>
                 <p><?py include('small/list_with_archs.html') ?></p>
                 
                 <?py if single_pkg: ?>
                     <hr/>
					 <?py version=next(next(versions.by_iset).by_libc) ?>
                     <p>Build for ${version.data['iset']}-${version.data['libc']}, version
                     <strong>${version.version}<span class="revision"><span class="revision-separator">_</span>${version.revision}</span></strong>.
                     <a href="${{root_url}}/package/{== urlquoted_pkgname ==}">Builds for all architectures</a>.</p>
                     <hr/>
                 
                 
                 <?py else: ?>

				 <?py for verrev, archs in versions.by_version: ?>
				 <div class="archs-per-version">
				 <h4>Version ${verrev}</h4>
					 <?py for idx, version in enumerate(archs): ?>
					 <?py arch = _escape('{iset}-{libc}'.format(**version.data)) ?>
					 {== ' - ' if idx > 0 else '' ==}<a href="${{root_url}}/package/{== urlquoted_pkgname ==}/{== arch ==}">{== arch ==}</a>
					 <?py #endfor ?>
				 </div>
				 <?py #endfor ?>
				 <?py #endif ?>
				 <?py if upstreamver: ?>
                 <p>We know that authors released version<py:for each="version in upstreamver"> ${version}</py:for>. Please give maintainer some time to update.</p>
				 <?py #endif ?>
				 <?py if fields: ?>
                 
                 <h3>Details</h3>
                 <dl>
                 
				 <?py for field in fields: ?>
                     <dt>${field.title}:</dt>
                     <dd><?py presenter=field.presentation['presenter'] ?>
					 <?py if presenter is None: ?>
					 <?py _context['param'] = field ?>
					 <?py include('small/list_with_archs.html') ?>
					 <?py elif presenter == 'minmax': ?>
					  <?py include('small/minmax.html', field=field) ?>
					 <?py elif presenter == 'popularity': ?>
					  <?py include('small/popularity.html', field=field) ?>
                     <?py else: ?>
					  ${field.value}
                     <?py #endif ?>
</dd>

				 <?py #endfor ?>
                 </dl>
				 <?py #endif ?>
                 </div>
            </main>
        <aside>
		  <?py if len(subpkgs) > 1: ?>
          <section>
            <h3>Packages built together:</h3>
            <ul class="continuous">
              
			  <?py for subpkg in subpkgs: ?>
              <li><a href="${{root_url}}/package/${urlquote(subpkg)}">${subpkg}</a></li>
			  <?py #endfor ?>
            </ul>
          </section>
		  <?py else: ?>
          
		  <?py #endif ?>
          <?py echo('            ') ?>
          <?py for template in sorted(mainpkg['pkgname'].value): ?>
<a href="https://github.com/void-linux/void-packages/blob/master/srcpkgs/${urlquote(template)}/template">Package template{== _escape(f' ({template})') if len(mainpkg['pkgname'].value) > 1 else '' ==}</a><?py
		#endfor ?>

        </aside>
    </div>
