<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
<xi:include href="base.html"/>
<head/>
<body>
    <div class="content">
        <main>
            <h1>Index of packages lists</h1>
            <ul class="continuous">
                <li><a href="${root_url}/newest">Newest</a></li>
                <li><a href="${root_url}/of_day">Packages of the day</a></li>
                <li><a href="${root_url}/sets">Collections</a></li>
                <li><a href="${root_url}/popular">Popular</a></li>
                <li><a href="${root_url}/longest_names">Ranking of packages that bear longest names</a></li>
                <li><a href="${root_url}/all">All packages</a></li>
            </ul>
        </main>
    </div>
</body>
</html>
