<span xmlns:py="http://genshi.edgewall.org/" class="masked">
    None of public repositories. This package is restricted, i.e. needs to be
    <a href="https://docs.voidlinux.org/xbps/repositories/restricted.html">build for oneself</a><!--!
 --><py:choose test=""><!--!
     --><py:when test="isinstance(elem.value.reason, str)"> for following reason: ${elem.value.reason}.</py:when><!--!
     --><py:otherwise>, because authors do not want us to bring ready for use package to you.</py:otherwise>
    </py:choose>
    <aside py:if="elem.mask"> [${elem.mask}]</aside>
</span>
